body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #171923;
}

.form-control {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}
.form-field {
  margin-bottom: 1rem;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
  color: #171923;
  text-align: center;
  cursor: pointer;
}
.btn-wrapper {
  margin-bottom: 1rem;
}
.btn--primary {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
}
.btn--primary:hover {
  background-image: linear-gradient(135deg, #7c92f5 0%, #8b5cb8 100%);
}
.btn--secondary {
  border: 1px solid #cbd5e0;
}
.btn--secondary:hover {
  background-color: #f8f9fa;
  border-color: #a0aec0;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.divider::before, .divider::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e2e8f0;
  margin: 0 0.5rem;
}
.divider__text {
  margin: 0 0.25rem;
}

.login__logo {
  padding: 0.75rem 1rem 2rem;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
  position: relative;
  height: 160px;
}
.login__logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__logo-curve {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.login__logo-heading {
  padding-left: 0.5rem;
  line-height: 1.25;
  font-size: 1.25rem;
}
.login__logo-heading-en {
  font-size: 0.875rem;
}
.login__logo-img {
  width: 100px;
}
.login__title {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1;
}
.login__title-en {
  font-size: 1rem;
}
.login__auth {
  padding: 0 2rem 2rem;
  background-color: #ffffff;
}
.login__input {
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
}

.form-label {
  display: block;
}

@media (min-width: 768px) {
  body {
    background-color: #f8f9fa;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .auth-card {
    width: 522px;
    height: 600px;
    background: #ffffff;
    border-radius: 1.5rem;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
  }
  .login__logo {
    height: 166px;
  }
  .login__logo-group {
    padding-left: 1rem;
  }
  .login__logo-heading {
    padding-left: 0.75rem;
  }
  .login__auth {
    padding: 0 3rem 1.5rem;
  }
}
@media (min-width: 1200px) {
  body {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .auth-card {
    width: 900px;
    height: 520px;
  }
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .login__logo {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .login__logo-img {
    width: 140px;
    margin: auto;
  }
  .login__logo-heading {
    padding-top: 1rem;
    padding-left: 0;
    text-align: center;
  }
  .login__logo-group {
    display: block;
    padding-left: 0;
    height: auto;
  }
  .login__logo-curve {
    display: none;
  }
  .login__auth {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .login__auth-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 0 6rem;
  }
}/*# sourceMappingURL=layout_2.css.map */