@charset "utf-8";
@use 'variables';

body {
    // background-color: #fafafa;
    // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    // background-image: linear-gradient(120deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    // background-image: linear-gradient(120deg, variables.gray(50) 0%, variables.gray(100) 100%);
    font-family: variables.font-family('base');
    color: variables.get-color('gray', '900');
}

.form {
    &-control {
        border: 1px solid variables.get-color('gray','200');
        border-radius: variables.radius(base);
        padding: variables.spacing('1');
        width: 100%;
    }

    &-field {
        margin-bottom: variables.spacing('2');
    }
}

.btn {
    background-color: transparent;
    border: none;
    padding: variables.spacing('2');
    width: 100%;
    border-radius: variables.radius(base);
    display: inline-block;
    text-decoration: none;
    color: variables.get-color('gray', '900');
    text-align: center;
    margin-bottom: variables.spacing('2');
    cursor: pointer;

    &--primary {
        // background-image: linear-gradient(to right, variables.get-color('primary') 0%, variables.get-color('secondary') 100%);
        background-image: variables.$color-btn-primary-bg;
        color: variables.$color-btn-primary-text;
        &:hover {
            background-image: variables.$color-btn-primary-hover;
            // transition: all 0.3s ease;
        }
    }

    &--secondary {
        border: 1px solid variables.get-color('gray', '300');
        &:hover {
            /* 讓背景色變淺，提供視覺回饋 */
            // background-color: #f7f9fc; /* 輕微的淺灰色/米白色 */
            background-color: variables.get-color('gray', '50');
            border-color: variables.get-color('gray', '400');
            /* 稍微加深邊框顏色，讓它更突出 */
            // border-color: #a0aec0; /* 中灰色調 */

            /* 保持文字顏色不變，或者你可以選擇稍微加深 */
            // color: #171923; /* 保持原來的深色 */

            /* 可以考慮增加輕微的陰影效果（可選） */
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */

            /* 增加過渡效果，讓變化更流暢 */
            // transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }
    }

    // &-wrapper {
    //     padding-bottom: variables.spacing(2);
    // }

}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: variables.spacing('4');
    margin-bottom: variables.spacing('4');
    &::before, 
    &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid variables.get-color('gray', '200');
        margin: variables.spacing('0') variables.spacing('2');
    }

    &__text {
        margin: variables.spacing('0') variables.spacing('1');
    }
}

.login {
    &__logo {
        padding: variables.spacing('4') variables.spacing('4') variables.spacing('5');
        text-align: center;
        // background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
        // background-image: linear-gradient(135deg, #e6f2f9 0%, #ffffff 100%);
        background-image: variables.$gradient-primary;
        color: variables.get-color('white');
        &-heading {
            padding-top: variables.spacing('2');
            line-height: variables.line-height('tight');
            font-size: variables.font-size('2xl');
            &-en {
                font-size: variables.font-size('lg');
            }
        }

        &-img {
            width: 34%;
            margin: auto;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: variables.spacing('4');
        line-height: variables.line-height('none');
        &-en {
            font-size: variables.font-size('base');
        }
    }

    &__auth {
        padding: variables.spacing('4');
        background-color: variables.get-color('white');
    }

    &__input {
        border: 1px solid variables.get-color('gray', '300');
        border-radius: variables.radius('base');
    }
}

.form {
    &-label {
        display: block;
    }
}


@include variables.tablet-up {
    .login {
        &__logo {        
            &-img {
                width: 16%;
            }
        }

        &__auth {
            padding: variables.spacing('5') variables.spacing('8');
        }
    }
}

@include variables.desktop-up {
    .login {
        display: flex;
        height: 100vh;        

        &__logo {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: right;
            &-group {
                padding-right: 10%;
            }
            &-img {
                width: 70%;
            }

            &-heading {
                padding-top: variables.spacing('4');
            }
        }

        &__auth {
            width: 50%;
            display: flex;
            align-items: center;
            &-group {
                padding-left: 10%;
            }
        }
    }
}